<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1024" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>impress.js | presentation tool based on the power of CSS3 transforms and transitions in modern browsers | by Bartek Szopka @bartaz</title>

    <meta name="description" content="impress.js is a presentation tool based on the power of CSS3 transforms and transitions in modern browsers and inspired by the idea behind prezi.com." />
    <meta name="author" content="Bartek Szopka" />

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:regular,semibold,italic,italicsemibold|PT+Sans:400,700,400italic,700italic|PT+Serif:400,700,400italic,700italic" rel="stylesheet" />

    <link href="css/impress-demo.css" rel="stylesheet" />

    <link rel="shortcut icon" href="favicon.png" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png" />
</head>

<body class="impress-not-supported">

  <div id="impress">
    <div id="title" class="step" data-x="-1500" data-y="-1500" data-rotate="180">
        <h1>Performance sucks!</h1>
        <h2>Make it better.</h2>
        <span class="footnote">by Michael Guterl and Josh Owens</span>
    </div>

    <div id="intro-michael" class="step intro" data-x="0" data-y="-1500">
      <img src="images/michael.jpeg" />
      <div class="intro-data">
        <h2>Michael Guterl</h2>
        <ul>
          <li>Twitter &amp; Github - @mguterl</li>
        </ul>
      </div>
    </div>

    <div id="intro-josh" class="step intro" data-x="1500" data-y="-1500">
      <img src="images/josh.jpeg" />
      <div class="intro-data">
        <h2>Josh Owens</h2>
        <ul>
          <li>Twitter - @joshowens</li>
          <li>Github - queso</li>
        <ul>
      </div>
    </div>

    <div id="video" class="step" data-x="500" data-y="-500" data-rotate="90" data-scale="1">
      <video width="1020" height="676" controls="controls">
        <source src="performance sucks.mov" type="video/mp4" />
      </video>
    </div>

    <div id="mysql" class="step" data-x="0" data-y="0">
      <h2>Optimizing Mysql</h2>
    </div>

    <div id="mysql-general" class="step">
      <ul>
        <li>Reduce number of queries per action</li>
        <li>Add indexes where appropriate</li>
        <li>Only select the columns you're using</li>
      </ul>
    </div>

    <div id="mysql-query" class="step" data-x="1000" data-y="1000" data-z="-2000" data-rotate="200">
      <h2>We're off to see the wizard!</h2>
      <pre><code>
        Episode Load (0.4ms)  SELECT `episodes`.* FROM `episodes` WHERE `episodes`.`slug` = 'test' LIMIT 1
        Episode Load (1.7ms)  SELECT `episodes`.* FROM `episodes` WHERE (number <> 2) ORDER BY number DESC LIMIT 1
      </code></pre>
    </div>

    <div id="mysql-explain" class="step" data-x="500" data-y="500" data-z="-2000">
      <h2>Lucy, splain yourself!</h2>
      <pre><code>
        EXPLAIN SELECT `episodes`.* FROM `episodes` WHERE `episodes`.`slug` = 'test' LIMIT 1;
        +----+-------------+----------+-------+------------------------+------------------------+---------+-------+------+-------+
        | id | select_type | table    | type  | possible_keys          | key                    | key_len | ref   | rows | Extra |
        +----+-------------+----------+-------+------------------------+------------------------+---------+-------+------+-------+
        |  1 | SIMPLE      | episodes | const | index_episodes_on_slug | index_episodes_on_slug | 768     | const |    1 |       |
        +----+-------------+----------+-------+------------------------+------------------------+---------+-------+------+-------+

        EXPLAIN SELECT `episodes`.* FROM `episodes` WHERE (number <> 2) ORDER BY number DESC LIMIT 1;
        +----+-------------+----------+-------+--------------------------+--------------------------+---------+------+------+-------------+
        | id | select_type | table    | type  | possible_keys            | key                      | key_len | ref  | rows | Extra       |
        +----+-------------+----------+-------+--------------------------+--------------------------+---------+------+------+-------------+
        |  1 | SIMPLE      | episodes | range | index_episodes_on_number | index_episodes_on_number | 5       | NULL |    3 | Using where |
        +----+-------------+----------+-------+--------------------------+--------------------------+---------+------+------+-------------+
      </code></pre>
    </div>

    <div id="include" class="step" data-x="2000" data-y="500" data-z="-2000">
      <h2>Using the include, Luke.</h2>
      <pre><code>
        SELECT `jobs`.* FROM `jobs` WHERE `jobs`.`id` = ?
        SELECT `jobs`.* FROM `jobs` WHERE `jobs`.`id` = ?
        SELECT `jobs`.* FROM `jobs` WHERE `jobs`.`id` = ?
      </code></pre>
        <p>vs.</p>
      <pre><code>
        SELECT `jobs`.* FROM `jobs` WHERE `jobs`.`id` IN (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
      </code></pre>
    </div>

    <div id="shaving" class="step" data-x="2000" data-y="800" data-z="-2000">
      <h2>We shaved off 75ms or 12%</h2>
    </div>

    <div id="summary-tables" class="step">
      <h2>Summary Tables</h2>
      <img src="images/job_posting_summary_report.jpg" />
    </div>

    <div id="summary-table-structure" class="step">
      <pre><code>
        id	int(11)
        organization_id	int(11)
        month	int(11)
        year	int(11)
        job_id	int(11)
        view_count	int(11)
        application_count	int(11)
        date	date
        title	varchar(255)
        internal_id	varchar(255)
        posted_at	datetime
        expires_at	datetime
      </code></pre>
    </div>

    <div id="caching" class="step" data-x="0" data-y="1000" data-z="-1000">
      <h2>Caching</h2>
      <ul>
        <li>Traditional Rails Caching</li>
        <li>Non-Traditional</li>
      </ul>
    </div>

    <div id="page-caching" class="step">
      <h2>Page Caching</h2>
      <pre><code>
        class HomeController < ApplicationController
          caches_page :index

          def index
            # Content that does not need to hit the Rails stack.
          end
        end
      </code></pre>
    </div>

    <div id="action-caching" class="step">
      <h2>Action Caching</h2>
      <pre><code>
        class HomeController < ApplicationController
          before_filter :login_required
          caches_action :show

          def show
            # Content that needs to go through the Rails stack.
          end
        end
      </code></pre>
    </div>

    <div id="fragment-caching" class="step">
      <h2>Fragment Caching</h2>
      <pre><code>
        <% cache object.cache_key -%>
          <%= expensive_call_to_generate_some_html %>
        <% end -%>
      </code></pre>
    </div>

    <div id="geocoder-caching" class="step" data-x="-200" data-y="1500" data-z="-3000">
      <h2>Caching external calls</h2>
      <img src="images/external-cache.png" />
    </div>

    <div id="fakeit" class="step" data-x="-500" data-y="-500">
      <h2>Fake it, til ya make it</h2>
      <ul>
        <li>Use ajax in interesting ways to make the site zippy</li>
      </ul>
    </div>

    <div id="ajax-demo" class="step" data-x="-2000" data-y="-800" data-z="-1000" data-rotate="-90">
      <video  width="1020" height="676" controls="controls">
        <source src="performance sucks - facets.mov" type="video/mp4">
      </video>
    </div>

    <div id="cons-caching" class="step">
      <h2>Cons of Caching</h2>
      <ul>
        <li>Cache Invalidation</li>
        <li>Cold Cache</li>
      </ul>
    </div>

    <div id="extra-tools" class="step">
      <h2>Extra Tools</h2>
      <ul>
        <li>https://github.com/ruckus/active-record-query-trace</li>
        <li>https://github.com/flyerhzm/bullet</li>
      </ul>
    </div>

    <div id="overview" class="step" data-x="3000" data-y="1500" data-scale="10">
    </div>
  </div>

<script src="js/impress.js"></script>
<script>impress().init();</script>

</body>
</html>
